<?xml version="1.0"?>
<config>
    <modules>
        <Display_Customgrid>
            <version>0.1.0</version>
        </Display_Customgrid>
    </modules>
    <global>
        <blocks>
            <display_customgrid>
                <class>Display_Customgrid_Block</class>
            </display_customgrid>
        </blocks>
        <models>
            <customgrid>
                <class>Display_Customgrid_Model</class>
                <resourceModel>customgrid_resource</resourceModel>
            </customgrid>
            <customgrid_resource>
                <class>Display_Customgrid_Model_Resource</class>
                <entities>
                    <displaygrid>
                        <table>contact_table</table>
                    </displaygrid>
                </entities>
            </customgrid_resource>
        </models>
        <resources>
            <display_customgrid_setup>
                <setup>
                    <module>Display_Customgrid</module>
                </setup>
            </display_customgrid_setup>
            <display_customgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </display_customgrid_read>
            <display_customgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </display_customgrid_write>
        </resources>
        <helpers>
            <customgrid>
                <class>Display_Customgrid_Helper</class>
            </customgrid>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <display_customgrid before="Mage_Adminhtml">Display_Customgrid_Adminhtml</display_customgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>