<?xml version="1.0"?>
<config>
    <modules>
        <Test_Witarko>
            <version>0.2.0</version>
        </Test_Witarko>
    </modules>
    <global>
        <blocks>
            <test_witarko>
                <class>Test_Witarko_Block</class>
            </test_witarko>
        </blocks>
        <models>
            <witarko>
                <class>Test_Witarko_Model</class>
                <resourceModel>witarko_resource</resourceModel>
            </witarko>
            <witarko_resource>
                <class>Test_Witarko_Model_Resource</class>
                <entities>
                    <contact>
                        <table>contact_table</table>
                    </contact>
                </entities>
            </witarko_resource>
        </models>
        <resources>
            <test_witarko_setup>
                <setup>
                    <module>Test_Witarko</module>
                </setup>
            </test_witarko_setup>
            <test_witarko_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_witarko_read>
            <test_witarko_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_witarko_write>
        </resources>
        <helpers>
            <witarko>
                <class>Test_Witarko_Helper</class>
            </witarko>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <test_witarko before="Mage_Adminhtml">Test_Witarko_Adminhtml</test_witarko>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
		<frontend>
        <layout>
            <updates>
                <test_witarko>
                    <file>test_witarko.xml</file>
                </test_witarko>
            </updates>
        </layout>
        <routers>
            <test_witarko>
                <use>standard</use>
                <args>
                    <module>Test_Witarko</module>
                    <frontName>witarko</frontName>
                </args>
            </test_witarko>
        </routers>
    </frontend>
</config>