<?xml version="1.0" encoding="UTF-8"?>
<config>    
    <modules>
        <Test_Witarko>
            <version>0.1.0</version>
        </Test_Witarko>
    </modules>
		<frontend>
        <routers>
            <witarko>
                <use>standard</use>
                <args>
                  <module>Test_Witarko</module>
                  <frontName>witarko</frontName>
                </args>
            </witarko>
        </routers>  
    </frontend>
</config>