<?xml version="1.0"?>
<config>
    <modules>
        <Test_Contactform>
            <version>0.1.0</version>
        </Test_Contactform>
    </modules>
    <global>
        <models>
            <contactform>
                <class>Test_Contactform_Model</class>
                <resourceModel>contactform_resource</resourceModel>
            </contactform>
            <contactform_resource>
                <class>Test_Contactform_Model_Resource</class>
                <entities>
                    <contactformsave>
                        <table>contact_table</table>
                    </contactformsave>
                </entities>
            </contactform_resource>
        </models>
        <resources>
            <test_contactform_setup>
                <setup>
                    <module>Test_Contactform</module>
                </setup>
            </test_contactform_setup>
            <test_contactform_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_contactform_read>
            <test_contactform_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_contactform_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <contactform>
                <use>standard</use>
                <args>
                    <module>Test_Contactform</module>
                    <frontName>contactform</frontName>
                </args>
            </contactform>
        </routers>
    </frontend>
    <global>
        <rewrite>
            <customcontactus>
                <from><![CDATA[#^/contacts/index/#]]></from>
                <to>/contactform/index/</to>
            </customcontactus>
        </rewrite>
    </global>

</config>