<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mmartinovicdua_Productlistdua>
            <version>0.0.1</version>
        </Mmartinovicdua_Productlistdua>
    </modules>
    <global>
        <models>
            <mmartinovicdua_productlistdua>
                <class>Mmartinovicdua_Productlistdua_Model</class>
            </mmartinovicdua_productlistdua>
        </models>
        <helpers>
            <mmartinovicdua_productlistdua>
                <class>Mmartinovicdua_Productlistdua_Helper</class>
            </mmartinovicdua_productlistdua>
        </helpers>
    </global>
    <frontend>
        <routers>
            <mmartinovicdua_productlistdua>
                <use>standard</use>
                <args>
                    <module>Mmartinovicdua_Productlistdua</module>
                    <frontName>productlistdua</frontName>
                </args>
            </mmartinovicdua_productlistdua>
        </routers>
    </frontend>
</config>