<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mmartinovic_Productlist>
            <version>0.0.1</version>
        </Mmartinovic_Productlist>
    </modules>
    <global>
        <models>
            <mmartinovic_productlist>
                <class>Mmartinovic_Productlist_Model</class>
            </mmartinovic_productlist>
        </models>
        <helpers>
            <mmartinovic_productlist>
                <class>Mmartinovic_Productlist_Helper</class>
            </mmartinovic_productlist>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <mmartinovic_productlist>
                    <file>mmartinovic_productlist.xml</file>
                </mmartinovic_productlist>
            </updates>
        </layout>
        <routers>
            <mmartinovic_productlist>
                <use>standard</use>
                <args>
                    <module>Mmartinovic_Productlist</module>
                    <frontName>productlist</frontName>
                </args>
            </mmartinovic_productlist>
        </routers>
    </frontend>
</config>